<div ng-controller="pxSimpleBarChartCtrl as ctrl">
    <script type="text/ng-template" id="simpleBarChart.html">
    
        <link ng-href="{{DECISYON.template.mainLibraryPath}}/vendor/px-simple-bar-chart/px-simple-bar-chart.html" rel="import">
        
       
        <px-simple-bar-chart    id              ="{{ctrl.refObjId}}" 
                                chart-data      ="{{ctrl.barData.chartData}}" 
                                legend-labels   ="{{ctrl.barData.legendLabels}}" 
                                legend-order    ="{{ctrl.legendOrder}}"
                                width           ="{{ctrl.width}}"
                                height          ="{{ctrl.height}}">
        </px-simple-bar-chart>
    </script>

    <script type="text/ng-template" id="error.html">
        <h3>{{ctrl.errorMsg}}</h3>
    </script>
    
    <div ng-include src="ctrl.currentTpl"></div>
    
</div>